/* General Styles */
/* Apply to all sizes */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

/*nav on the top*/
#first {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(238, 235, 235);
  padding: 20px;
  font-size: 17px;
  width: 100%;
}

.head {
  position: fixed;
  top: 0;
  background-color: rgb(238, 235, 235);
}

div.head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(238, 235, 235);
  padding: 20px;
  font-size: 17px;
}

ul, .nav {
  list-style-type: none;
  cursor: pointer;
  padding-left: 7vw;
  float: right;
  margin-right: 10px;
}

/*nav links at the top*/
a {
  text-decoration: none;
  color: black;
}
/*targets h1 and the form below the nav*/
#top {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

#email {
  margin-top: 15px;
  padding: 6px;
}

/*submit button below the email*/
input[type="submit"] {
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  background-color: #f1c40f;
  border: none;
  margin-top: 15px;
}
/*button changes color when hovered over submit*/
#submit:hover {
  background-color: #f3ab0f;
  transition-delay: .5s;
}

button {
  background-color: #f1c40f;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  border: none;
  margin: 10px;
  padding: 8px 15px;
}

button:hover {
  background-color: #f3ab0f;
  transition-delay: .5s;
}

/*text beside the picture*/
.picture-text {
  display: flex;
}

.picture {
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 78vw;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
}
